<h1>Question <%= @current + 1 %> of <%= @total %></h1>
<p id="problem"><%= @problem.text %></p>

<div id="feedback-choices">
  <% @choices.each do |choice| %>
    <% if choice.correct %>
      <p class="correct feedback-choice">
    <% elsif choice == @choice %>
      <p class="incorrect feedback-choice">
    <% else %>
      <p class="feedback-choice">
    <% end %>
    <%= choice.text %>
    </p>
  <% end %>
</div>

<p class="feedback">
  <% if @correct %>
    Correct!
  <% else %>
    Incorrect.
  <% end %>
</p>

<%= form_tag({controller: "quiz", action: "problem"}) do %>
  <div class="center">
    <%= submit_tag("Continue", class: "submit") %>
  </div>
<% end %>